<a href="https://colab.research.google.com/github/bsudharshan2001/MyRespository/blob/master/College/Semester-5/19CSE304-DataScience/Class%202%20-%2019-07-2021%20-%20Data%20Extraction%20from%20CSV%20Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
data=pd.read_csv('uk-500.csv')
data.describe()
data.info()
data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    500 non-null    object
 1   last_name     500 non-null    object
 2   company_name  500 non-null    object
 3   address       500 non-null    object
 4   city          500 non-null    object
 5   county        500 non-null    object
 6   postal        500 non-null    object
 7   phone1        500 non-null    object
 8   phone2        500 non-null    object
 9   email         500 non-null    object
 10  web           500 non-null    object
dtypes: object(11)
memory usage: 43.1+ KB

(500, 11)

***Dataframe Indexing***

In [3]:
data.iloc[0]

first_name                                   Aleshia
last_name                                 Tomkiewicz
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone1                                  01835-703597
phone2                                  01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
Name: 0, dtype: object

In [4]:
data.iloc[1]

first_name                                   Evan
last_name                               Zigomalas
company_name                   Cap Gemini America
address                               5 Binney St
city                                   Abbey Ward
county                            Buckinghamshire
postal                                   HP11 2AX
phone1                               01937-864715
phone2                               01714-737668
email                    evan.zigomalas@gmail.com
web             http://www.capgeminiamerica.co.uk
Name: 1, dtype: object

In [5]:
data.iloc[-1]

first_name                                               Mi
last_name                                            Richan
company_name                 Nelson Wright Haworth Golf Crs
address                                     6 Norwood Grove
city                                      Tanworth-in-Arden
county                                         Warwickshire
postal                                              B94 5RZ
phone1                                         01451-785624
phone2                                         01202-738406
email                                        mi@hotmail.com
web             http://www.nelsonwrighthaworthgolfcrs.co.uk
Name: 499, dtype: object

***Selecting Colums***

In [8]:
data.iloc[:,0]

0        Aleshia
1           Evan
2         France
3        Ulysses
4         Tyisha
         ...
495        Avery
496         Reid
497    Charlette
498    Celestina
499           Mi
Name: first_name, Length: 500, dtype: object

In [ ]:
data.iloc[[0]]

In [ ]:
data.iloc[0:5,5:8]

In [ ]:
data.set_index("last_name",inplace=True)
data.head()

In [ ]:
data.loc[['Andrade','Veness'],'city':'email']

In [ ]:
data.loc[['Andrade','Veness'],]

In [ ]:
data.loc[data['first_name']]

***iloc - Based on the Index***

***loc - Based on the values on the Record***